[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/paramjit2k
[access "refs/for/refs/*"]
	read = group user/paramjit2k
	push = group user/paramjit2k
	label-Code-Review = -2..+2 group user/paramjit2k
	label-Verified = -1..+1 group user/paramjit2k
	rebase = group user/paramjit2k
	removeReviewer = group user/paramjit2k
	submit = group user/paramjit2k
[access "refs/heads/*"]
	read = group user/paramjit2k
	create = group user/paramjit2k
	push = +force group user/paramjit2k
	pushMerge = group user/paramjit2k
[access "refs/tags/*"]
	push = group user/paramjit2k
	push = +force group user/paramjit2k
